NodeRed Flows/All.json
[{"id":"51d5dc80.abcd34","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"171a56f1.4df359","type":"tab","label":"Mode","disabled":false,"info":""},{"id":"fa3c97fe.42cf08","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"841b8c74.98d08","type":"tab","label":"COM","disabled":false,"info":""},{"id":"ea42fa34.963c58","type":"tab","label":"Control","disabled":false,"info":""},{"id":"77e5ec03.ca9034","type":"tab","label":"Database","disabled":false,"info":""},{"id":"44c2ae83.46575","type":"tab","label":"Visu","disabled":false,"info":""},{"id":"f243b82e.3544b8","type":"tab","label":"Site","disabled":false,"info":""},{"id":"d9a724f2.8cf298","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c03d885e.e17a88","type":"ui_group","z":"","name":"CPU","tab":"36b7a6b8.257d2a","order":2,"disp":true,"width":"5","collapse":false},{"id":"5cc5a134.e633b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#d4af37","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#d4af37","edited":true},"page-titlebar-backgroundColor":{"value":"#d4af37","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#e2c876","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#d4af37","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Brewhouse","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":42,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cea5dd24.65705","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"b3d002be.4f875","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c0cfe3fa.91f5b","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"},{"id":"6f6b0128.afb9b","type":"ui_group","z":"","name":"Charts","tab":"fa0d925d.76cfe","order":1,"disp":false,"width":22,"collapse":false},{"id":"41001acf.72fdc4","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered"},{"id":"829cf403.484658","type":"ui_group","z":"","name":"Temperatur Kettle","tab":"d9a724f2.8cf298","order":2,"disp":false,"width":"18","collapse":false},{"id":"a1f6bb79.e15608","type":"ui_group","z":"","name":"Programm","tab":"d9a724f2.8cf298","order":1,"disp":true,"width":18,"collapse":false},{"id":"36b7a6b8.257d2a","type":"ui_tab","z":"","name":"Einstellungen","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc1febad.58c578","type":"ui_group","z":"","name":"Betriebsart","tab":"d9a724f2.8cf298","order":3,"disp":true,"width":6,"collapse":false},{"id":"ff0da8db.9321b8","type":"sqlitedb","z":"","db":"/media/usb/DB","mode":"RWC"},{"id":"fa0d925d.76cfe","type":"ui_tab","z":"","name":"Datenanalyse","icon":"dashboard","disabled":false,"hidden":false},{"id":"7ccd45ce.32095c","type":"ui_group","z":"","name":"Auswahl","tab":"fa0d925d.76cfe","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3ef4cbd.84122","type":"ui_group","z":"","name":"Prozess","tab":"36b7a6b8.257d2a","disp":true,"width":"6","collapse":false},{"id":"750c3f4f.cbbd2","type":"ui_group","z":"","name":"Datenbank","tab":"36b7a6b8.257d2a","disp":true,"width":"6","collapse":false},{"id":"351cd4ee.f2259c","type":"ui_group","z":"","name":"Benachrichtigung","tab":"36b7a6b8.257d2a","disp":true,"width":"6","collapse":false},{"id":"9c0a4eae.6b345","type":"ui_group","z":"","name":"Site","tab":"d9a724f2.8cf298","order":6,"disp":false,"width":"2","collapse":false},{"id":"f17d18f0.feb028","type":"mqtt-broker","z":"","broker":"192.168.1.127","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"/vm/mqtt/birth","birthQos":"0","birthPayload":"birth","willTopic":"","willQos":"0","willPayload":""},{"id":"15ba25ee.77800a","type":"ui_group","z":"","name":"Temperatur Mash","tab":"d9a724f2.8cf298","order":5,"disp":false,"width":"6","collapse":false},{"id":"d66d4577.7da728","type":"ui_group","z":"","name":"Power setting","tab":"36b7a6b8.257d2a","disp":true,"width":"6","collapse":false},{"id":"c1143d24.5dc22","type":"ui_group","z":"","name":"Export","tab":"fa0d925d.76cfe","order":3,"disp":false,"width":"6","collapse":false},{"id":"4017a7dd.accea8","type":"ui_spacer","name":"spacer","group":"750c3f4f.cbbd2","order":2,"width":6,"height":1},{"id":"81e5c57.e627e38","type":"ui_spacer","name":"spacer","group":"a1f6bb79.e15608","order":6,"width":18,"height":1},{"id":"d8a81875.1ef208","type":"ui_spacer","name":"spacer","group":"a1f6bb79.e15608","order":7,"width":6,"height":1},{"id":"8e3552bd.78c89","type":"ui_spacer","name":"spacer","group":"a1f6bb79.e15608","order":10,"width":8,"height":1},{"id":"c5e9d127.23773","type":"ui_spacer","name":"spacer","group":"a1f6bb79.e15608","order":17,"width":5,"height":1},{"id":"db0b4321.d4bf8","type":"ui_spacer","name":"spacer","group":"fc1febad.58c578","order":3,"width":6,"height":1},{"id":"666030f1.9efb3","type":"ui_spacer","name":"spacer","group":"fc1febad.58c578","order":4,"width":6,"height":1},{"id":"92d4dc44.73c5c","type":"link in","z":"841b8c74.98d08","name":"setPeripherie","links":["214b89da.a02106","e87be500.1ce138","2e9660c2.d526a"],"x":335,"y":480,"wires":[["fcd00b5.cd6a7f8","2f7c38d6.ebb378"]]},{"id":"c2d3ef4b.b6fb7","type":"comment","z":"841b8c74.98d08","name":"","info":"Every [Timestep]s a command byte with the according bits for the peripherie to set is send to the Arduino.\nThe Arduino then geathers Sensor Data and returns them in a Bytestream.","x":640,"y":240,"wires":[]},{"id":"6bf0f0dd.3214c","type":"sqlite","z":"77e5ec03.ca9034","mydb":"ff0da8db.9321b8","sqlquery":"msg.topic","sql":"","name":"","x":720,"y":160,"wires":[["663ddf88.3f3a6"]]},{"id":"3ae7b383.c9f23c","type":"inject","z":"77e5ec03.ca9034","name":"CREATE","topic":"CREATE TABLE brewings(id INTEGER PRIMARY KEY AUTOINCREMENT, currentdate DATE, currenttime TIME, temperature_amb FLOAT, temperature_kettle FLOAT, temperature_mash FLOAT, weight INT, heater BOOLEAN, agitator BOOLEAN, pump_kettle BOOLEAN, pump_mash BOOLEAN)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":40,"wires":[["6bf0f0dd.3214c"]]},{"id":"d7952cce.3016a","type":"inject","z":"77e5ec03.ca9034","name":"INSERT","topic":"INSERT INTO brewings(currentdate, currenttime, temperature_amb, temperature_kettle, temperature_mash, weight, heater, agitator, pump_kettle, pump_mash) values(date('now'), time('now'), 33, 0, 0, 0, false, false, false, false)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":80,"wires":[["6bf0f0dd.3214c"]]},{"id":"790c4529.844d8c","type":"inject","z":"77e5ec03.ca9034","name":"SELECT","topic":"SELECT * FROM brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":180,"wires":[["6bf0f0dd.3214c"]]},{"id":"a0d1621c.efe7f","type":"inject","z":"77e5ec03.ca9034","name":"DELETE","topic":"DELETE from brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":220,"wires":[["6bf0f0dd.3214c"]]},{"id":"7e0eab50.29b2c4","type":"inject","z":"77e5ec03.ca9034","name":"DROP","topic":"DROP TABLE brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":280,"wires":[["6bf0f0dd.3214c"]]},{"id":"663ddf88.3f3a6","type":"debug","z":"77e5ec03.ca9034","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":140,"wires":[]},{"id":"71f550ea.0a91b","type":"function","z":"841b8c74.98d08","name":"Set_Sensors","func":"var data = msg.payload.split(\":\");\n//data[1] = data[1];\nmsg.topic = data[0];\nmsg.payload = data[1];\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":540,"wires":[["2f7c38d6.ebb378"]]},{"id":"2f7c38d6.ebb378","type":"function","z":"841b8c74.98d08","name":"Set_Global","func":"global.set(msg.topic, msg.payload);","outputs":0,"noerr":0,"x":1030,"y":480,"wires":[]},{"id":"8028a9d0.6610a8","type":"change","z":"841b8c74.98d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"get:all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["9c944e03.a597e"]]},{"id":"fcd00b5.cd6a7f8","type":"function","z":"841b8c74.98d08","name":"Serial_message","func":"var command = \"set:\" + msg.topic + \"=\" + msg.payload +\"\\r\";\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["f5063d2a.27c1c","2b739f41.ebd4c"]]},{"id":"8a180a96.222f28","type":"function","z":"77e5ec03.ca9034","name":"DB_insert","func":"var command =\"INSERT INTO brewings(currentdate, currenttime, temperature_amb, temperature_kettle, temperature_mash, weight, heater, agitator, pump_kettle, pump_mash) values(\";\n command += \"date('now')\";//.toLocaleDateString();\n command += \", \";\n command += \"time('now','+2 hour')\";//.toLocaleTimeString();\n command += \", \";\n command += global.get(\"temp_amb\");\n command += \", \";\n command += global.get(\"avg_temp\");//get(\"temp_kettle\");\n command += \", \";\n command += global.get(\"temp_mash\");\n command += \", \";\n command += global.get(\"weight\");\n command += \", \";\n command += global.get(\"heater\");\n command += \", \";\n command += global.get(\"agitator\");\n command += \", \";\n command += global.get(\"pump_kettle\");\n command += \", \";\n command += global.get(\"pump_mash\");\n command += \")\";\n msg.topic = command;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["6bf0f0dd.3214c","12507b84.86cba4","d8c6bf88.90576"]]},{"id":"8a87528d.824f","type":"delay","z":"77e5ec03.ca9034","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":380,"wires":[["8a180a96.222f28"]]},{"id":"518f9f30.95f3f","type":"link in","z":"77e5ec03.ca9034","name":"insert","links":["15e89014.6ce7"],"x":135,"y":380,"wires":[["2a86876b.dd9418"]]},{"id":"cc89e2be.8da36","type":"serial in","z":"841b8c74.98d08","name":"Arduino_RX","serial":"c0cfe3fa.91f5b","x":270,"y":540,"wires":[["8502298f.3912d8","f1d6171d.d2e528"]]},{"id":"6fbbc6b0.735da8","type":"serial out","z":"841b8c74.98d08","name":"Arduino_TX","serial":"c0cfe3fa.91f5b","x":1150,"y":280,"wires":[]},{"id":"19fd36d9.c14a79","type":"switch","z":"841b8c74.98d08","name":"","property":"SerialEnable","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":160,"wires":[["85e94a8d.f14fa8","8028a9d0.6610a8"]]},{"id":"1d5ec713.b4f6c9","type":"ui_chart","z":"44c2ae83.46575","name":"","group":"6f6b0128.afb9b","order":1,"width":22,"height":13,"label":"Datenarchiv","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":200,"wires":[[]]},{"id":"e7a743e0.d21db","type":"sqlite","z":"44c2ae83.46575","mydb":"ff0da8db.9321b8","sqlquery":"msg.topic","sql":"","name":"","x":700,"y":220,"wires":[["f350138e.fea4a"]]},{"id":"55e2d9df.76ed88","type":"ui_gauge","z":"51d5dc80.abcd34","name":"","group":"829cf403.484658","order":2,"width":9,"height":5,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"","x":890,"y":280,"wires":[]},{"id":"cc2262c4.5c69c","type":"ui_slider","z":"51d5dc80.abcd34","name":"","label":"0 min","tooltip":"","group":"a1f6bb79.e15608","order":11,"width":14,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":930,"y":500,"wires":[[]]},{"id":"c8b22c3e.6516c","type":"ui_text_input","z":"51d5dc80.abcd34","name":"","label":"Rastzeit","tooltip":"","group":"a1f6bb79.e15608","order":1,"width":9,"height":2,"passthru":true,"mode":"number","delay":"0","topic":"soll_zeit","x":220,"y":480,"wires":[["1503d659.cd2c1a","10b6432a.0652fd"]]},{"id":"41a5c4cd.47e5dc","type":"ui_button","z":"51d5dc80.abcd34","name":"Start","group":"a1f6bb79.e15608","order":3,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-play fa-2x","payload":"true","payloadType":"bool","topic":"start","x":230,"y":520,"wires":[["1503d659.cd2c1a"]]},{"id":"51b6823f.f7a2ac","type":"ui_button","z":"51d5dc80.abcd34","name":"Stop","group":"a1f6bb79.e15608","order":4,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-pause fa-2x","payload":"false","payloadType":"bool","topic":"stop","x":230,"y":560,"wires":[["1503d659.cd2c1a"]]},{"id":"3b995f80.90e8","type":"ui_text_input","z":"51d5dc80.abcd34","name":"","label":"Solltemperatur","tooltip":"","group":"a1f6bb79.e15608","order":2,"width":9,"height":2,"passthru":true,"mode":"number","delay":"0","topic":"soll_temp","x":220,"y":140,"wires":[["7f0c6642.c3ea48","625601d2.ba747"]]},{"id":"6c5644e9.b4242c","type":"ui_chart","z":"51d5dc80.abcd34","name":"","group":"829cf403.484658","order":1,"width":9,"height":5,"label":"Verlauf","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"No Data","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":320,"wires":[[]]},{"id":"4d45178b.975e28","type":"ui_text","z":"51d5dc80.abcd34","group":"a1f6bb79.e15608","order":12,"width":4,"height":1,"name":"Zeit","label":"","format":"{{msg.payload}} min","layout":"row-spread","x":930,"y":540,"wires":[]},{"id":"1a3abf40.bc4491","type":"ui_text","z":"51d5dc80.abcd34","group":"a1f6bb79.e15608","order":8,"width":2,"height":1,"name":"","label":"Zeitverlauf","format":"{{msg.payload}} min","layout":"col-center","x":950,"y":460,"wires":[]},{"id":"85e94a8d.f14fa8","type":"link out","z":"841b8c74.98d08","name":"Clock","links":["27d9b2c9.d9f2be","62d13010.f12f4","741c5048.a99a1","8a93a72b.992468","a6f8d62d.b97c68","bf6905e8.6e7b58","304d1cc8.6d5b34"],"x":615,"y":160,"wires":[]},{"id":"8a93a72b.992468","type":"link in","z":"51d5dc80.abcd34","name":"","links":["85e94a8d.f14fa8"],"x":295,"y":280,"wires":[["6e3fc259.7f932c","88626e80.cab2e"]]},{"id":"6e3fc259.7f932c","type":"change","z":"51d5dc80.abcd34","name":"Get Isttemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_kettle","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"ist_temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["55e2d9df.76ed88","6c5644e9.b4242c","7a7a25d8.be6a7c"]]},{"id":"7f0c6642.c3ea48","type":"change","z":"51d5dc80.abcd34","name":"","rules":[{"t":"set","p":"solltemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":160,"wires":[[]]},{"id":"a93f8cd4.54a36","type":"function","z":"ea42fa34.963c58","name":"Controler","func":"var avg_temp = global.get(\"avg_temp\");\n\n\nconst timestep = 1; // TODO\nconst Pr = 9;//Reference power setting\nconst Pa = global.get(\"power\");// actual power\nconst m = global.get(\"weight\"); // Todo implement weight meassurement\n//const T = 7; //interpolating e_punkt for 5 min\nconst K = (Pr*m)/(Pa);\nvar errOld = global.get(\"error\");\nvar temp_soll = global.get(\"solltemp\");\nvar errNow = temp_soll - avg_temp;\n\ne_punkt = (errNow-errOld)/(timestep);\nerrOld = errNow;\nglobal.set(\"error\",errOld);\nmsg.payload = avg_temp;\nif( errNow > -(Math.abs(e_punkt)*e_punkt)/(2*K) ){\n    msg.topic = true;\n    return msg;\n}else if( errNow < -(Math.abs(e_punkt)*e_punkt)/(2*K) ){\n    msg.topic = false; \n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["6e58c8f6.f8e8e8","6b38944c.30d69c","1888505e.87a94"]]},{"id":"fdcb5403.909f88","type":"inject","z":"51d5dc80.abcd34","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":340,"wires":[["3b995f80.90e8","c8b22c3e.6516c","9ecef968.350a58"]]},{"id":"bf6ecfe2.78cc2","type":"link in","z":"841b8c74.98d08","name":"Variable init","links":["37cc185f.925a98","f1510ff.da50df"],"x":715,"y":600,"wires":[["2f7c38d6.ebb378"]]},{"id":"cd56fe02.7bf63","type":"delay","z":"51d5dc80.abcd34","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":440,"wires":[["1503d659.cd2c1a"]]},{"id":"7bcc8262.eb86ac","type":"change","z":"51d5dc80.abcd34","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":660,"wires":[["cc2262c4.5c69c"]]},{"id":"10b6432a.0652fd","type":"function","z":"51d5dc80.abcd34","name":"Change min/max","func":"msg.ui_control = { \"min\":0, \"max\":msg.payload };\nmsg.palyoad = null;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":660,"wires":[["7bcc8262.eb86ac"]]},{"id":"2a86876b.dd9418","type":"switch","z":"77e5ec03.ca9034","name":"DB enable","property":"DBenable","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":380,"wires":[["8a87528d.824f"]]},{"id":"4635d0ff.192ec","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"Enable Serial","tooltip":"","group":"f3ef4cbd.84122","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":140,"wires":[["d889d888.bbf488"]]},{"id":"d889d888.bbf488","type":"change","z":"fa3c97fe.42cf08","name":"Enable Serial","rules":[{"t":"set","p":"SerialEnable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[[]]},{"id":"ffde36c2.c50578","type":"ui_button","z":"fa3c97fe.42cf08","name":"","group":"c03d885e.e17a88","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Reboot Pi?","payloadType":"str","topic":"","x":120,"y":1140,"wires":[["848467e5.836f08"]]},{"id":"18b48280.ae4abe","type":"exec","z":"fa3c97fe.42cf08","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot","x":770,"y":1140,"wires":[[],[],[]]},{"id":"b0ef1aaf.5acc28","type":"exec","z":"fa3c97fe.42cf08","command":"sudo poweroff #","addpay":false,"append":"","useSpawn":"","timer":"","name":"turn off Pi","x":780,"y":1200,"wires":[[],[],[]]},{"id":"485279c0.cb17a8","type":"ui_button","z":"fa3c97fe.42cf08","name":"","group":"c03d885e.e17a88","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Shutdown Pi?","payloadType":"str","topic":"","x":120,"y":1200,"wires":[["9b48de9d.064d4"]]},{"id":"dd24704b.55ba6","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"heater","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.8","x":1130,"y":40,"wires":[["f1510ff.da50df"]]},{"id":"c79dd6a6.0f8d68","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"agitator","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.8","x":1130,"y":80,"wires":[["f1510ff.da50df"]]},{"id":"aef0cb68.e3d108","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"pump_kettle","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.8","x":1110,"y":120,"wires":[["f1510ff.da50df"]]},{"id":"de915170.1a5f2","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"pump_mash","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.9","x":1110,"y":160,"wires":[["f1510ff.da50df"]]},{"id":"f1510ff.da50df","type":"link out","z":"fa3c97fe.42cf08","name":"","links":["bf6ecfe2.78cc2"],"x":1335,"y":100,"wires":[]},{"id":"eb455bf.52457a8","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"elapsedTime","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.9","x":1120,"y":200,"wires":[["f1510ff.da50df"]]},{"id":"2e9660c2.d526a","type":"link out","z":"171a56f1.4df359","name":"Set Peripherie","links":["92d4dc44.73c5c"],"x":575,"y":460,"wires":[]},{"id":"7872dc70.aeb2e4","type":"ui_switch","z":"171a56f1.4df359","name":"","label":"Hand Ein/Aus","tooltip":"","group":"fc1febad.58c578","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":380,"wires":[["16142982.808d36"]]},{"id":"86ae9ec7.2a2a7","type":"ui_switch","z":"171a56f1.4df359","name":"","label":"Rührwerk","tooltip":"","group":"fc1febad.58c578","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"agitator","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":420,"wires":[["2e9660c2.d526a"]]},{"id":"ff70ee03.5a37","type":"ui_switch","z":"171a56f1.4df359","name":"","label":"Pumpe Maische","tooltip":"","group":"fc1febad.58c578","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pump_mash","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":460,"wires":[["2e9660c2.d526a"]]},{"id":"8b386be6.411778","type":"ui_switch","z":"171a56f1.4df359","name":"","label":"Pumpe Topf","tooltip":"","group":"fc1febad.58c578","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pump_kettle","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":500,"wires":[["2e9660c2.d526a"]]},{"id":"3cedfe61.57ad62","type":"ui_text","z":"171a56f1.4df359","group":"fc1febad.58c578","order":2,"width":0,"height":0,"name":"","label":"Heizung","format":"<font color = {{msg.color}}> {{msg.payload}}","layout":"row-spread","x":760,"y":320,"wires":[]},{"id":"48e598c1.163108","type":"change","z":"171a56f1.4df359","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"heater","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["d0e95115.142bd"]]},{"id":"27d9b2c9.d9f2be","type":"link in","z":"171a56f1.4df359","name":"","links":["85e94a8d.f14fa8"],"x":155,"y":320,"wires":[["48e598c1.163108"]]},{"id":"a6f8d62d.b97c68","type":"link in","z":"ea42fa34.963c58","name":"","links":["85e94a8d.f14fa8"],"x":195,"y":140,"wires":[["fee5d562.c9ed68","15e0842c.1ade7c"]]},{"id":"6e58c8f6.f8e8e8","type":"change","z":"ea42fa34.963c58","name":"","rules":[{"t":"set","p":"heater","pt":"global","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":120,"wires":[[]]},{"id":"9ecef968.350a58","type":"ui_button","z":"51d5dc80.abcd34","name":"Reset","group":"a1f6bb79.e15608","order":5,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-stop fa-2x","payload":"true","payloadType":"bool","topic":"reset","x":230,"y":600,"wires":[["1503d659.cd2c1a"]]},{"id":"1503d659.cd2c1a","type":"function","z":"51d5dc80.abcd34","name":"Timer","func":"var totalTime = global.get(\"sollzeit\");\nvar elapsedTime = global.get(\"elapsedTime\");\nswitch(msg.topic){\n    case \"timestep\":\n    elapsedTime += 1;\n    if(elapsedTime >= totalTime){\n    msg.reset = true;\n    global.set(\"control\", false);\n    global.set(\"heater\", false);\n    //global.set(\"heater\", false);\n    //global.set(\"heater\", false);\n    //global.set(\"heater\", false);\n    var msg4 = { payload:\"Time program done!\"};\n    msg.reset = true;\n    totalTime = 0;\n    elapsedTime = 0;\n    }\n    break;\n    case \"start\":\n    delete msg.reset;\n    msg.topic = \"timestep\";\n    break;\n    case \"stop\":\n    msg.reset = true;\n    break;\n    case \"reset\":\n    msg.reset = true;\n    totalTime = 0;\n    elapsedTime = 0;\n    break;\n    case \"soll_zeit\":\n    msg.reset = true;\n    totalTime = msg.payload; \n    break;\n}\n//msg.topic = \"start\"\nglobal.set(\"sollzeit\",totalTime);\nglobal.set(\"elapsedTime\",elapsedTime);\n\nvar msg2 = { payload:elapsedTime};//elapsed time\nvar msg3 = { payload:totalTime};// total time\nif(msg4){\n    return [msg, msg2, msg3, msg4];\n}\nreturn [msg, msg2, msg3];","outputs":4,"noerr":0,"x":690,"y":540,"wires":[["cd56fe02.7bf63","6c2d592a.f0f3c8"],["1a3abf40.bc4491","cc2262c4.5c69c"],["4d45178b.975e28"],["2b8f5a4a.72b586","ade43958.7a2d28"]]},{"id":"1fa288dc.991807","type":"inject","z":"171a56f1.4df359","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":380,"wires":[["7872dc70.aeb2e4","86ae9ec7.2a2a7","ff70ee03.5a37","8b386be6.411778"]]},{"id":"6773c6ff.032988","type":"inject","z":"77e5ec03.ca9034","name":"INJECT","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["2a86876b.dd9418"]]},{"id":"572ae4f2.85338c","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"DBenable","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":140,"y":540,"wires":[["412f9fe3.39145"]]},{"id":"412f9fe3.39145","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"DB enable","tooltip":"","group":"750c3f4f.cbbd2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":540,"wires":[["cabb60b1.576e7"]]},{"id":"cabb60b1.576e7","type":"change","z":"fa3c97fe.42cf08","name":"","rules":[{"t":"set","p":"DBenable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":540,"wires":[[]]},{"id":"529f1957.a96138","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"error","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.9","x":1150,"y":240,"wires":[["f1510ff.da50df"]]},{"id":"7162fba6.f78854","type":"exec","z":"fa3c97fe.42cf08","command":"sudo node-red-restart #","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart Node Red","x":810,"y":1260,"wires":[[],[],[]]},{"id":"34417fc8.30d82","type":"ui_button","z":"fa3c97fe.42cf08","name":"","group":"c03d885e.e17a88","order":3,"width":0,"height":0,"passthru":false,"label":"Restart NodeRed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Restart node red?","payloadType":"str","topic":"","x":150,"y":1260,"wires":[["bcadae9e.cafd8"]]},{"id":"fddfef25.50cae","type":"comment","z":"fa3c97fe.42cf08","name":"","info":"Add:\n- IP\n- CPU auslastung\n- error log\n- backup DB.\n- Serial error","x":1150,"y":100,"wires":[]},{"id":"bcadae9e.cafd8","type":"ui_toast","z":"fa3c97fe.42cf08","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":450,"y":1260,"wires":[["9e5273f6.12cb4"]]},{"id":"9e5273f6.12cb4","type":"switch","z":"fa3c97fe.42cf08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1260,"wires":[["7162fba6.f78854"]]},{"id":"848467e5.836f08","type":"ui_toast","z":"fa3c97fe.42cf08","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":450,"y":1140,"wires":[["6c90bb8e.e7a874"]]},{"id":"6c90bb8e.e7a874","type":"switch","z":"fa3c97fe.42cf08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1140,"wires":[["18b48280.ae4abe"]]},{"id":"9b48de9d.064d4","type":"ui_toast","z":"fa3c97fe.42cf08","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":450,"y":1200,"wires":[["bb2aa934.1a19e8"]]},{"id":"bb2aa934.1a19e8","type":"switch","z":"fa3c97fe.42cf08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1200,"wires":[["b0ef1aaf.5acc28"]]},{"id":"bd57e363.35aee","type":"ui_switch","z":"44c2ae83.46575","name":"","label":"Temperatur Umgebung","tooltip":"","group":"7ccd45ce.32095c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"temperature_amb","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":920,"wires":[["825fb6ff.7468a8"]]},{"id":"3c9922d4.d9715e","type":"ui_switch","z":"44c2ae83.46575","name":"","label":"Temperatur Kettle","tooltip":"","group":"7ccd45ce.32095c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"temperature_kettle","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":960,"wires":[["825fb6ff.7468a8"]]},{"id":"208189b4.96d7d6","type":"ui_dropdown","z":"44c2ae83.46575","name":"","label":"Datum","tooltip":"","place":"Datum wählen","group":"7ccd45ce.32095c","order":4,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"date","x":750,"y":1000,"wires":[["825fb6ff.7468a8"]]},{"id":"d5d95a4c.5bd958","type":"ui_text_input","z":"44c2ae83.46575","name":"","label":"Von","tooltip":"","group":"7ccd45ce.32095c","order":5,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"timeFrom","x":650,"y":1080,"wires":[["a1d0099e.a56728"]]},{"id":"990415bb.e66108","type":"ui_text_input","z":"44c2ae83.46575","name":"","label":"Bis","tooltip":"","group":"7ccd45ce.32095c","order":6,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"timeTo","x":650,"y":1120,"wires":[["a1d0099e.a56728"]]},{"id":"f6b04371.e9b8d","type":"inject","z":"44c2ae83.46575","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":230,"y":1100,"wires":[["971c18ed.d69278","91c1226.79ae1e"]]},{"id":"c979261e.d44b18","type":"inject","z":"44c2ae83.46575","name":"SELECT","topic":"SELECT DISTINCT currentdate FROM brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":1000,"wires":[["a0c1995d.0fc028"]]},{"id":"a0c1995d.0fc028","type":"sqlite","z":"44c2ae83.46575","mydb":"ff0da8db.9321b8","sqlquery":"msg.topic","sql":"","name":"","x":400,"y":1000,"wires":[["8c95f7ca.ce62f8"]]},{"id":"8c95f7ca.ce62f8","type":"function","z":"44c2ae83.46575","name":"Data prep","func":"var datesArr = msg.payload;\nvar dateOptions = [];\n\n\n//as per info panel, the data needs to be formatted\n//and sent in msg.options.\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i].currentdate; //get the row\n    let opt = {};//make new opt object\n    opt[row] = row; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n}\ndelete msg.payload;\nreturn msg;//pass the msg (containing our options) to the next node\n\n\n\n/*\nfor (i=0; i< datesArr.length; i++) {\nvar datestr = String(datesArr.currentdate);\nvar date = datesArr.currentdate;\ndateOptions.push(datestr);\n\n}\nmsg.options = dateOptions;\nmsg.topic = dateOptions;\n//delete msg.topic;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":600,"y":1000,"wires":[["208189b4.96d7d6"]]},{"id":"825fb6ff.7468a8","type":"function","z":"44c2ae83.46575","name":"Set_Flow","func":"flow.set(msg.topic, msg.payload);","outputs":0,"noerr":0,"x":940,"y":1000,"wires":[]},{"id":"7e22a0d0.baa9e","type":"inject","z":"44c2ae83.46575","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":920,"wires":[["bd57e363.35aee","3c9922d4.d9715e","f0a5efad.25b7"]]},{"id":"bbfb3ad2.49cce8","type":"function","z":"44c2ae83.46575","name":"DB_SELECT","func":"var command =\"SELECT currentdate, currenttime\";\n\nif(flow.get(\"temperature_amb\")){\n    command += \", temperature_amb\";\n}\nif(flow.get(\"temperature_kettle\")){\n    command += \", temperature_kettle\";\n}\nif(flow.get(\"temperature_mash\")){\n    command += \", temperature_mash\";\n}\n\ncommand += \" FROM brewings\";\ncommand += \" WHERE currentdate == \";\ncommand += \"date('\";\ncommand += flow.get(\"date\");\ncommand += \"')\"\ncommand += \" AND currenttime  BETWEEN time('\";\ncommand += flow.get(\"timeFrom\");\ncommand += \"')\";//  , '-1 hour' localtime\ncommand += \" AND \";\ncommand += \"time('\"\ncommand += flow.get(\"timeTo\");\ncommand += \"')\";\n\n\nmsg.topic = command;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["e7a743e0.d21db"]]},{"id":"ae32c5ad.fe4b58","type":"ui_button","z":"44c2ae83.46575","name":"","group":"7ccd45ce.32095c","order":7,"width":0,"height":0,"passthru":false,"label":"Laden","tooltip":"","color":"","bgcolor":"","icon":"","payload":"load","payloadType":"str","topic":"","x":150,"y":220,"wires":[["bbfb3ad2.49cce8"]]},{"id":"f0a5efad.25b7","type":"ui_switch","z":"44c2ae83.46575","name":"","label":"Temperatur Mash","tooltip":"","group":"7ccd45ce.32095c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"temperature_mash","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":880,"wires":[["825fb6ff.7468a8"]]},{"id":"a30be272.5c037","type":"inject","z":"44c2ae83.46575","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.8","x":990,"y":120,"wires":[["1d5ec713.b4f6c9"]]},{"id":"12507b84.86cba4","type":"debug","z":"77e5ec03.ca9034","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":380,"wires":[]},{"id":"4858e427.d2fddc","type":"inject","z":"77e5ec03.ca9034","name":"INSERT","topic":"INSERT INTO brewings(currentdate, currenttime, temperature_amb, temperature_kettle, temperature_mash, weight, heater, agitator, pump_kettle, pump_mash) values(date('2018-11-01'), time('now'), 33, 0, 0, 0, false, false, false, false)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["6bf0f0dd.3214c"]]},{"id":"9678154.c7393e8","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"generate dummy values","tooltip":"","group":"750c3f4f.cbbd2","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":480,"wires":[["ebb657cd.50c158"]]},{"id":"ebb657cd.50c158","type":"change","z":"fa3c97fe.42cf08","name":"set dummy enable","rules":[{"t":"set","p":"enDummy","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":480,"wires":[[]]},{"id":"8502298f.3912d8","type":"switch","z":"841b8c74.98d08","name":"","property":"enDummy","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":540,"wires":[["71f550ea.0a91b"]]},{"id":"f5063d2a.27c1c","type":"switch","z":"841b8c74.98d08","name":"","property":"enDummy","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":280,"wires":[["6fbbc6b0.735da8","c4885fb6.1f88c"]]},{"id":"3e39156f.7d0daa","type":"switch","z":"841b8c74.98d08","name":"","property":"enDummy","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":640,"wires":[["eb183b57.2ec338"]]},{"id":"62d13010.f12f4","type":"link in","z":"841b8c74.98d08","name":"","links":["85e94a8d.f14fa8"],"x":215,"y":640,"wires":[["3e39156f.7d0daa"]]},{"id":"eb183b57.2ec338","type":"function","z":"841b8c74.98d08","name":"","func":"var dummy = \"\";\n\ndummy = \"temp_kettle:\";\ndummy += Math.floor(Math.random() * 30) + 15;\nmsg.payload = dummy;\nnode.send(msg);\n\ndummy = \"temp_mash:\";\ndummy += Math.floor(Math.random() * 30) + 15;\nmsg.payload = dummy;\nnode.send(msg);\n\ndummy = \"temp_amb:\";\ndummy += Math.floor(Math.random() * 30) + 15;\nmsg.payload = dummy;\nnode.send(msg);\n\ndummy = \"weight:\";\ndummy += Math.floor(Math.random() * 100) + 1500;\nmsg.payload = dummy;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["71f550ea.0a91b"]]},{"id":"a1d0099e.a56728","type":"function","z":"44c2ae83.46575","name":"make Timestring","func":"var time = new Date(msg.payload);\ntime.setHours(time.getHours()-1);\nmsg.payload = time.toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1100,"wires":[["825fb6ff.7468a8"]]},{"id":"ef52692e.0cee38","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"Enable Serial","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":170,"y":140,"wires":[["4635d0ff.192ec"]]},{"id":"be047a67.b06da8","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"generate dummmy variables","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.8","x":200,"y":480,"wires":[["9678154.c7393e8"]]},{"id":"9399f551.0d7f38","type":"ui_numeric","z":"fa3c97fe.42cf08","name":"","label":"Clock","tooltip":"","group":"f3ef4cbd.84122","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"setClock","format":"{{value}}","min":"500","max":"10000","step":"100","x":530,"y":320,"wires":[["7fd022ad.2da50c"]]},{"id":"71b3b478.bfa33c","type":"delay","z":"841b8c74.98d08","d":true,"name":"Clock delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":40,"wires":[["f3230ca9.38e7"]]},{"id":"f3230ca9.38e7","type":"function","z":"841b8c74.98d08","d":true,"name":"Clock","func":"var mode = msg.topic;\nvar command = msg.payload;\nmsg.delay = global.get(\"clock\");\n\nif(mode == \"Clkstart\" && command == true){\n  delete msg.reset;\n  msg.delay = global.get(\"clock\");\n  msg.topic = \"work\";\n  msg.payload = true; \n}else if(mode == \"Clkstart\" && command == false){\n  msg.reset = true;\n}\n/*\nif(mode == \"work\" && command == false){\n  delete msg.delay;\n  msg.payload = true;\n}\n*/\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":100,"wires":[["71b3b478.bfa33c","aedc842c.66a848"]]},{"id":"3c0d29c8.fbb3d6","type":"link out","z":"fa3c97fe.42cf08","name":"setClock","links":["93695518.9750a8"],"x":755,"y":260,"wires":[]},{"id":"93695518.9750a8","type":"link in","z":"841b8c74.98d08","d":true,"name":"setClock","links":["3c0d29c8.fbb3d6"],"x":15,"y":100,"wires":[["f3230ca9.38e7"]]},{"id":"7fd022ad.2da50c","type":"change","z":"fa3c97fe.42cf08","name":"Set Clock","rules":[{"t":"set","p":"clock","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[[]]},{"id":"3b53c434.de319c","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"Enable Clock","tooltip":"","group":"f3ef4cbd.84122","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Clkstart","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":260,"wires":[["3c0d29c8.fbb3d6"]]},{"id":"339be51b.99faaa","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"Enable Clock","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":170,"y":260,"wires":[["3b53c434.de319c"]]},{"id":"41ab6a66.75e294","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"clock","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":150,"y":320,"wires":[["9399f551.0d7f38"]]},{"id":"f350138e.fea4a","type":"function","z":"44c2ae83.46575","name":"Data prep","func":"var data = msg.payload;\nmsg.payload = msg.topic;\nvar dataArr = [[],[],[]];\nvar seriesArr = [];\n//delete msg.payload;\nif(!(data.length === 0)){\nfor (i=0; i< data.length; i++) {\nvar time = Date.parse(data[i].currenttime + \" \" +data[i].currentdate); \ntime -= 60*60*1000;\n//time.setHours(time.getHours() - 1)\n//var time = new Date(data[i].currenttime);\n//time = time.toLocaleTimeString();\n\nif(data[i].temperature_amb != null){\ndataArr[0].push({\"x\": time, \"y\" : data[i].temperature_amb});\nseriesArr.push(\"Temperature umgebung\");\n}\n\nif(data[i].temperature_kettle != null){\ndataArr[1].push({\"x\": time, \"y\" : data[i].temperature_kettle});\nseriesArr.push(\"Temperature Topf\");\n}\n\nif(data[i].temperature_mash != null){\ndataArr[2].push({\"x\": time, \"y\" : data[i].temperature_mash});\nseriesArr.push(\"Temperature Maische\");\n}\n\n//dataArr.push(seriesArr);\n}\n\nvar m = [{\n    \"series\": seriesArr,\n    \"data\": dataArr,\n    \"labels\": [\"Zeit\"]\n}]\n\nmsg.payload = m;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":200,"wires":[["1d5ec713.b4f6c9"]]},{"id":"fee5d562.c9ed68","type":"switch","z":"ea42fa34.963c58","name":"","property":"control","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":140,"wires":[["a93f8cd4.54a36"]]},{"id":"ad8ae61b.b10188","type":"ui_chart","z":"fa3c97fe.42cf08","name":"","group":"c03d885e.e17a88","order":6,"width":0,"height":0,"label":"CPU Auslastung","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":1080,"wires":[[]]},{"id":"a272a29b.7d984","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"Audio","tooltip":"","group":"351cd4ee.f2259c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":740,"wires":[[]]},{"id":"34622e91.e04fd2","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"Push Benachrichtigung","tooltip":"","group":"351cd4ee.f2259c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":780,"wires":[[]]},{"id":"8518cd45.16a18","type":"ui_switch","z":"fa3c97fe.42cf08","name":"","label":"Alarm","tooltip":"","group":"351cd4ee.f2259c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":820,"wires":[[]]},{"id":"2950cc4c.ed9f64","type":"ui_button","z":"fa3c97fe.42cf08","name":"","group":"c03d885e.e17a88","order":4,"width":0,"height":0,"passthru":false,"label":"Node Red Log","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1320,"wires":[["f3f6433.0dcf9c"]]},{"id":"f3f6433.0dcf9c","type":"exec","z":"fa3c97fe.42cf08","command":"sudo node-red-log #","addpay":false,"append":"","useSpawn":"","timer":"","name":"Show log","x":440,"y":1320,"wires":[["54faf801.a34148"],["54faf801.a34148"],["54faf801.a34148"]]},{"id":"54faf801.a34148","type":"ui_text_input","z":"fa3c97fe.42cf08","name":"","label":"Log:","tooltip":"","group":"c03d885e.e17a88","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":770,"y":1320,"wires":[[]]},{"id":"53060396.7b405c","type":"catch","z":"fa3c97fe.42cf08","name":"","scope":null,"uncaught":false,"x":180,"y":1020,"wires":[["f5aadbbb.e9d4c8"]]},{"id":"f5aadbbb.e9d4c8","type":"ui_toast","z":"fa3c97fe.42cf08","position":"top right","displayTime":"30","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":760,"y":1020,"wires":[]},{"id":"c4885fb6.1f88c","type":"debug","z":"841b8c74.98d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":220,"wires":[]},{"id":"2b739f41.ebd4c","type":"debug","z":"841b8c74.98d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":360,"wires":[]},{"id":"37b52de7.0c9a12","type":"change","z":"841b8c74.98d08","name":"Set Heater","rules":[{"t":"set","p":"topic","pt":"msg","to":"heater","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"heater","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":360,"wires":[["fcd00b5.cd6a7f8"]]},{"id":"f1d6171d.d2e528","type":"debug","z":"841b8c74.98d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":580,"wires":[]},{"id":"9c944e03.a597e","type":"delay","z":"841b8c74.98d08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":280,"wires":[["f5063d2a.27c1c"]]},{"id":"dc67dfae.2119b","type":"inject","z":"841b8c74.98d08","name":"","topic":"alarm","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":330,"y":420,"wires":[["fcd00b5.cd6a7f8"]]},{"id":"d0e95115.142bd","type":"function","z":"171a56f1.4df359","name":"","func":"var mode = global.get(\"control\");\nif(msg.payload === true){\n    msg.payload = \"ON\"\n    msg.color = \"lime\";\n}else if(mode){\n    msg.payload = \"OFF\";\n    msg.color = \"yellow\";\n}else{\n    msg.payload = \"OFF\";\n    msg.color = \"red\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["3cedfe61.57ad62"]]},{"id":"ae2ea5.27451158","type":"inject","z":"51d5dc80.abcd34","name":"","topic":"","payload":"[]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":320,"wires":[["6c5644e9.b4242c"]]},{"id":"7a7a25d8.be6a7c","type":"debug","z":"51d5dc80.abcd34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":360,"wires":[]},{"id":"625601d2.ba747","type":"switch","z":"51d5dc80.abcd34","name":"Enable Control","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":80,"wires":[["8ea56ead.78517"],["319d481e.2b3708"]]},{"id":"8ea56ead.78517","type":"change","z":"51d5dc80.abcd34","name":"","rules":[{"t":"set","p":"control","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[[]]},{"id":"319d481e.2b3708","type":"change","z":"51d5dc80.abcd34","name":"","rules":[{"t":"set","p":"control","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"heater","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":100,"wires":[[]]},{"id":"16142982.808d36","type":"change","z":"171a56f1.4df359","name":"","rules":[{"t":"set","p":"control","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"heater","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"48c362b1.3e586c","type":"ui_dropdown","z":"51d5dc80.abcd34","name":"Operator","label":"","tooltip":"","place":">","group":"a1f6bb79.e15608","order":15,"width":2,"height":1,"passthru":true,"options":[{"label":"<","value":true,"type":"bool"},{"label":">","value":false,"type":"bool"}],"payload":"","topic":"operator","x":280,"y":840,"wires":[["22ae32f1.4d6cde"]]},{"id":"93d879b0.10f448","type":"ui_text_input","z":"51d5dc80.abcd34","name":"Grenze","label":"","tooltip":"","group":"a1f6bb79.e15608","order":16,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"limit","x":280,"y":920,"wires":[["22ae32f1.4d6cde"]]},{"id":"741c5048.a99a1","type":"link in","z":"51d5dc80.abcd34","name":"","links":["85e94a8d.f14fa8"],"x":155,"y":800,"wires":[["687000c9.47837"]]},{"id":"22ae32f1.4d6cde","type":"function","z":"51d5dc80.abcd34","name":"","func":"\nswitch(msg.topic){\n    case \"limit\":\n    flow.set(\"limit\",msg.payload);\n    break;\n    case \"operator\":\n    flow.set(\"operator\",msg.payload);\n    break;\n    case \"work\":\n    break;\n    case \"source\":\n    flow.set(\"source\",msg.payload);\n    break;\n    default:\n    break;\n}\nvar operator = flow.get(\"operator\");\nvar limit = flow.get(\"limit\");\nvar source = global.get(flow.get(\"source\"));\n\nif((operator && limit > source) || (!operator && source > limit)){\n    msg.payload = \"limit reached!\";\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":490,"y":860,"wires":[["2105e13d.165c0e"]]},{"id":"6b349e96.5235f","type":"play audio","z":"51d5dc80.abcd34","name":"","voice":"2","x":1030,"y":840,"wires":[]},{"id":"2b24c3f.39a2f3c","type":"delay","z":"51d5dc80.abcd34","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":860,"wires":[["6b349e96.5235f","ea2744aa.7f2d78"]]},{"id":"bbc8a68b.427df8","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"Alarm","tooltip":"","group":"a1f6bb79.e15608","order":13,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":960,"wires":[["ea0f6898.660d28"]]},{"id":"687000c9.47837","type":"switch","z":"51d5dc80.abcd34","name":"","property":"enableLimit","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":800,"wires":[["22ae32f1.4d6cde"]]},{"id":"ea0f6898.660d28","type":"change","z":"51d5dc80.abcd34","name":"","rules":[{"t":"set","p":"enableLimit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":960,"wires":[[]]},{"id":"4b3519f8.01d028","type":"inject","z":"51d5dc80.abcd34","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":960,"wires":[["bbc8a68b.427df8"]]},{"id":"2105e13d.165c0e","type":"switch","z":"51d5dc80.abcd34","name":"","property":"enableLimit","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":860,"wires":[["2b24c3f.39a2f3c"]]},{"id":"2b8f5a4a.72b586","type":"play audio","z":"51d5dc80.abcd34","name":"","voice":"2","x":950,"y":580,"wires":[]},{"id":"42173ad7.159084","type":"ui_template","z":"51d5dc80.abcd34","group":"a1f6bb79.e15608","name":"time programm","order":9,"width":2,"height":1,"format":"<i class=\"fa fa-clock-o fa-2x\" style=\"color:{{msg.payload}};\"></i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1080,"y":420,"wires":[[]]},{"id":"6c2d592a.f0f3c8","type":"function","z":"51d5dc80.abcd34","name":"","func":"var color;\ndelete msg.payload;\nswitch(msg.topic){\n    case \"timestep\":\n    color = \"lime\";\n    break;\n    case \"start\":\n    color = \"lime\";\n    break;\n    case \"stop\":\n    color = \"yellow\";\n    break;\n    case \"reset\":\n    color = \"red\";\n    break;\n}\nmsg.payload = color;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["42173ad7.159084"]]},{"id":"ade43958.7a2d28","type":"ui_toast","z":"51d5dc80.abcd34","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":960,"y":620,"wires":[]},{"id":"ea2744aa.7f2d78","type":"ui_toast","z":"51d5dc80.abcd34","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1040,"y":900,"wires":[]},{"id":"dd806e1b.cae8a","type":"link in","z":"fa3c97fe.42cf08","name":"","links":["ad25dcfc.c7501","5692794b.729908"],"x":255,"y":220,"wires":[["3b53c434.de319c"]]},{"id":"36b7e862.34f268","type":"ui_template","z":"f243b82e.3544b8","group":"9c0a4eae.6b345","name":"Clock","order":1,"width":2,"height":2,"format":"<i class=\"fa fa-circle-o fa-3x\" style=\"color:{{msg.payload}};\" ng-click=\"send({payload:true})\"></i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":120,"wires":[["5692794b.729908"]]},{"id":"a60b18e3.c10578","type":"trigger","z":"f243b82e.3544b8","op1":"lime","op2":"grey","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":460,"y":120,"wires":[["36b7e862.34f268"]]},{"id":"9c9aeeac.5f374","type":"ui_template","z":"f243b82e.3544b8","group":"9c0a4eae.6b345","name":"Serial connection","order":2,"width":2,"height":2,"format":"<i class=\"fa fa-usb fa-3x\" style=\"color:{{msg.payload = 1 ? 'lime' : 'red'}};\"></i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":60,"wires":[[]]},{"id":"5692794b.729908","type":"link out","z":"f243b82e.3544b8","name":"Activate Clock","links":["dd806e1b.cae8a"],"x":895,"y":120,"wires":[]},{"id":"bf6905e8.6e7b58","type":"link in","z":"f243b82e.3544b8","name":"","links":["85e94a8d.f14fa8"],"x":155,"y":120,"wires":[["a60b18e3.c10578"]]},{"id":"5951e20a.3c418c","type":"ui_template","z":"f243b82e.3544b8","group":"9c0a4eae.6b345","name":"DB status","order":3,"width":2,"height":2,"format":"<i class=\"fa fa-database fa-3x\" style=\"color:{{msg.topic = 1 ? msg.payload : 'red'}};\"></i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":180,"wires":[[]]},{"id":"28e92a1.dc554d6","type":"link in","z":"f243b82e.3544b8","name":"","links":["82700f20.617d3"],"x":155,"y":180,"wires":[["ba366987.426bc8"]]},{"id":"dc30581e.41d828","type":"status","z":"77e5ec03.ca9034","name":"DB Status","scope":["6bf0f0dd.3214c"],"x":360,"y":460,"wires":[["82700f20.617d3"]]},{"id":"82700f20.617d3","type":"link out","z":"77e5ec03.ca9034","name":"DB status","links":["28e92a1.dc554d6"],"x":495,"y":460,"wires":[]},{"id":"d8c6bf88.90576","type":"link out","z":"77e5ec03.ca9034","name":"DB write","links":["4d31a63b.8ee548"],"x":895,"y":340,"wires":[]},{"id":"4d31a63b.8ee548","type":"link in","z":"f243b82e.3544b8","name":"","links":["d8c6bf88.90576"],"x":155,"y":240,"wires":[["e59961d1.0ed12"]]},{"id":"aedc842c.66a848","type":"delay","z":"841b8c74.98d08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":160,"wires":[["37b52de7.0c9a12","19fd36d9.c14a79"]]},{"id":"75af54f8.fbc72c","type":"inject","z":"841b8c74.98d08","name":"work clock","topic":"clock","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":true,"onceDelay":"0.8","x":110,"y":160,"wires":[["aedc842c.66a848"]]},{"id":"6b38944c.30d69c","type":"ui_text","z":"ea42fa34.963c58","group":"9c0a4eae.6b345","order":4,"width":2,"height":2,"name":"","label":"&Oslash;","format":"{{msg.payload}}<style>font-size=\"150px\"</style>","layout":"col-center","x":960,"y":160,"wires":[]},{"id":"47b120dc.2a9e7","type":"status","z":"841b8c74.98d08","name":"Serial connect","scope":["cc89e2be.8da36"],"x":270,"y":700,"wires":[["8efd6e7f.a3c21"]]},{"id":"8efd6e7f.a3c21","type":"link out","z":"841b8c74.98d08","name":"Serial connection","links":[],"x":500,"y":700,"wires":[]},{"id":"45f8b24f.f277cc","type":"link in","z":"f243b82e.3544b8","name":"","links":[],"x":155,"y":60,"wires":[["9c9aeeac.5f374"]]},{"id":"e59961d1.0ed12","type":"trigger","z":"f243b82e.3544b8","op1":"blue","op2":"lime","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":300,"y":240,"wires":[["f3af2b5d.96abc8"]]},{"id":"ba366987.426bc8","type":"change","z":"f243b82e.3544b8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["5951e20a.3c418c"]]},{"id":"f3af2b5d.96abc8","type":"change","z":"f243b82e.3544b8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["5951e20a.3c418c"]]},{"id":"1888505e.87a94","type":"debug","z":"ea42fa34.963c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":940,"y":60,"wires":[]},{"id":"15e0842c.1ade7c","type":"function","z":"ea42fa34.963c58","name":"","func":"var temp_ist =global.get(\"temp_kettle\");\nvar measArr = flow.get(\"measArr\");\n\nif (measArr === undefined){\n    measArr = [];\n}\nmeasArr.push(temp_ist);\n\nif(measArr.length >= 20){\nflow.set(\"measArr\",[]);\nmeasArr = measArr.map(Number);\nconst sum = measArr.reduce((a, b) => a + b, 0);\nconst avg_temp = ((sum / measArr.length) || 0).toFixed(2);\nglobal.set(\"avg_temp\",avg_temp);\nmsg.payload = avg_temp;\nreturn msg;\n}else{\n   flow.set(\"measArr\",measArr);\n   \n}\n\n","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["6b38944c.30d69c"]]},{"id":"c41a6634.ab8ef8","type":"ui_gauge","z":"51d5dc80.abcd34","name":"","group":"15ba25ee.77800a","order":1,"width":6,"height":5,"gtype":"gage","title":"Temperatur Mash","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"","x":910,"y":220,"wires":[]},{"id":"88626e80.cab2e","type":"change","z":"51d5dc80.abcd34","name":"Get Isttemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_mash","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["c41a6634.ab8ef8"]]},{"id":"f147fc10.5b89d","type":"inject","z":"841b8c74.98d08","name":"DB clock","topic":"clock","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"0.8","x":320,"y":80,"wires":[["97290f81.09c6c"]]},{"id":"15e89014.6ce7","type":"link out","z":"841b8c74.98d08","name":"DB Clock","links":["518f9f30.95f3f"],"x":635,"y":80,"wires":[]},{"id":"97290f81.09c6c","type":"switch","z":"841b8c74.98d08","name":"","property":"SerialEnable","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":80,"wires":[["15e89014.6ce7"]]},{"id":"65ba9356.c00a3c","type":"ui_text_input","z":"fa3c97fe.42cf08","name":"","label":"Power","tooltip":"","group":"d66d4577.7da728","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"power","x":170,"y":1520,"wires":[["e3aa7e66.6703e"]]},{"id":"4b2750c6.f2555","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"power","payload":"900","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1.7","x":190,"y":1480,"wires":[["e3aa7e66.6703e"]]},{"id":"e3aa7e66.6703e","type":"change","z":"fa3c97fe.42cf08","name":"Set global","rules":[{"t":"set","p":"power","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1500,"wires":[[]]},{"id":"d8eb0d7b.e86a5","type":"file","z":"44c2ae83.46575","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1350,"y":280,"wires":[[]]},{"id":"ee39f65b.855e28","type":"ui_button","z":"44c2ae83.46575","name":"","group":"c1143d24.5dc22","order":1,"width":0,"height":0,"passthru":false,"label":"Export","tooltip":"","color":"","bgcolor":"","icon":"","payload":"export","payloadType":"str","topic":"","x":150,"y":280,"wires":[["6e1972b4.4eb06c","4ee48012.64867"]]},{"id":"916bf4b2.8ce778","type":"ui_text_input","z":"44c2ae83.46575","name":"","label":"","tooltip":"","group":"c1143d24.5dc22","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":300,"y":400,"wires":[["d5bdff56.09c66"]]},{"id":"d5bdff56.09c66","type":"change","z":"44c2ae83.46575","name":"","rules":[{"t":"set","p":"filename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[[]]},{"id":"9e3413b6.264","type":"inject","z":"44c2ae83.46575","name":"","topic":"","payload":"first.csv","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2.1","x":160,"y":400,"wires":[["916bf4b2.8ce778"]]},{"id":"f3f89fff.c0fbd","type":"csv","z":"44c2ae83.46575","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"mult","ret":"\\n","temp":"currentdate, currenttime,temperature_kettle, temperature_mash, temperature_amb, weight, heater","skip":"0","strings":true,"x":990,"y":280,"wires":[["5825de86.b20d4"]]},{"id":"af9bfbd0.5aa6a8","type":"function","z":"44c2ae83.46575","name":"Set base path","func":"var basePath = \"/media/usb/export/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"x":440,"y":560,"wires":[["6a0ad9d4.05f958"],["2c2961cc.50d0fe"]]},{"id":"2c2961cc.50d0fe","type":"http response","z":"44c2ae83.46575","name":"","statusCode":"","headers":{},"x":790,"y":600,"wires":[]},{"id":"6a0ad9d4.05f958","type":"file in","z":"44c2ae83.46575","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":630,"y":540,"wires":[["2c2961cc.50d0fe"]]},{"id":"af9d3bd3.cda448","type":"catch","z":"44c2ae83.46575","name":"","scope":null,"uncaught":false,"x":260,"y":640,"wires":[["60d5fd4b.242554","8fec0a81.b96b38"]]},{"id":"60d5fd4b.242554","type":"function","z":"44c2ae83.46575","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":640,"wires":[["2c2961cc.50d0fe"]]},{"id":"8fec0a81.b96b38","type":"debug","z":"44c2ae83.46575","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":680,"wires":[]},{"id":"e4b90a17.1c5bb8","type":"ui_template","z":"44c2ae83.46575","group":"c1143d24.5dc22","name":"ui_temlplate - present download links on dashboard","order":4,"width":6,"height":2,"format":"<ul>\n  <li ng-repeat=\"row in msg.payload\" ><a style=\"color:white;\"  href=\"/files/{{row}}\">download {{row}}</a></li>\n</ul>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":720,"wires":[[]]},{"id":"14da7500.09a97b","type":"comment","z":"44c2ae83.46575","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":480,"y":500,"wires":[]},{"id":"8801b4f1.3d6298","type":"http in","z":"44c2ae83.46575","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":270,"y":560,"wires":[["af9bfbd0.5aa6a8"]]},{"id":"d7e8f171.27c89","type":"exec","z":"44c2ae83.46575","command":"sudo ls /media/usb/export","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":780,"wires":[["ea7e0b26.d00458"],[],[]]},{"id":"ea7e0b26.d00458","type":"split","z":"44c2ae83.46575","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":760,"wires":[["f7e868fc.9557e8"]]},{"id":"f7e868fc.9557e8","type":"join","z":"44c2ae83.46575","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":790,"y":760,"wires":[["e4b90a17.1c5bb8"]]},{"id":"f589ec3b.4b828","type":"inject","z":"44c2ae83.46575","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":780,"wires":[["d7e8f171.27c89"]]},{"id":"39637219.923a2e","type":"link in","z":"44c2ae83.46575","name":"","links":["992faefb.606fd"],"x":220,"y":740,"wires":[["d7e8f171.27c89"]]},{"id":"992faefb.606fd","type":"link out","z":"44c2ae83.46575","name":"Export refresh","links":["39637219.923a2e"],"x":415,"y":340,"wires":[]},{"id":"6e1972b4.4eb06c","type":"delay","z":"44c2ae83.46575","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":340,"wires":[["992faefb.606fd"]]},{"id":"5825de86.b20d4","type":"function","z":"44c2ae83.46575","name":"","func":"var filename;\nconst path = \"/media/usb/export/\"\nif(flow.get(\"datenaming\")){\nvar now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() + 1;  // getMonth() is zero-based\nvar dd  = now.getDate();\nvar hh = now.getHours() + 1;\nvar mmm  = now.getMinutes();\n\nfilename = yyyy+\"_\"+mm+\"_\"+dd+\"-\"+hh+\"_\"+mmm+\".csv\";\nflow.set(\"filename\",filename);\n}else{\nfilename = flow.get(\"filename\");\n}\nmsg.filename = path + filename;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":280,"wires":[["d8eb0d7b.e86a5"]]},{"id":"84ed6932.aee7e8","type":"ui_switch","z":"44c2ae83.46575","name":"","label":"Date naming","tooltip":"","group":"c1143d24.5dc22","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":440,"wires":[["a8f1a543.d7eb68"]]},{"id":"a8f1a543.d7eb68","type":"change","z":"44c2ae83.46575","name":"","rules":[{"t":"set","p":"datenaming","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[[]]},{"id":"23ff2d99.343712","type":"change","z":"51d5dc80.abcd34","name":"Set Heater","rules":[{"t":"set","p":"payload","pt":"msg","to":"weight","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"Gewicht","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1020,"wires":[["fb087e9a.abbc7"]]},{"id":"304d1cc8.6d5b34","type":"link in","z":"51d5dc80.abcd34","name":"","links":["85e94a8d.f14fa8"],"x":75,"y":1020,"wires":[["23ff2d99.343712"]]},{"id":"13afc7d9.1c5908","type":"ui_dropdown","z":"51d5dc80.abcd34","name":"Source","label":"","tooltip":"","place":"Temperatur","group":"a1f6bb79.e15608","order":14,"width":4,"height":1,"passthru":true,"options":[{"label":"Temperatur","value":"temp_kettle","type":"str"},{"label":"Gewicht","value":"weight","type":"str"}],"payload":"","topic":"source","x":280,"y":880,"wires":[["22ae32f1.4d6cde"]]},{"id":"971c18ed.d69278","type":"function","z":"44c2ae83.46575","name":"Add Hour","func":"msg.payload += 60*60*1000;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1120,"wires":[["990415bb.e66108"]]},{"id":"91c1226.79ae1e","type":"function","z":"44c2ae83.46575","name":"Subtract Hour","func":"msg.payload -= 60*60*1000;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1080,"wires":[["d5d95a4c.5bd958"]]},{"id":"df0ac061.22bf5","type":"sqlite","z":"44c2ae83.46575","mydb":"ff0da8db.9321b8","sqlquery":"msg.topic","sql":"","name":"","x":700,"y":280,"wires":[["f3f89fff.c0fbd"]]},{"id":"4ee48012.64867","type":"function","z":"44c2ae83.46575","name":"DB_SELECT","func":"var command =\"SELECT * FROM brewings\";\ncommand += \" WHERE currentdate == \";\ncommand += \"date('\";\ncommand += flow.get(\"date\");\ncommand += \"')\"\ncommand += \" AND currenttime  BETWEEN time('\";\ncommand += flow.get(\"timeFrom\");\ncommand += \"')\";//  , '-1 hour' localtime\ncommand += \" AND \";\ncommand += \"time('\"\ncommand += flow.get(\"timeTo\");\ncommand += \"')\";\n\n\nmsg.topic = command;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["df0ac061.22bf5"]]},{"id":"fb087e9a.abbc7","type":"ui_gauge","z":"51d5dc80.abcd34","name":"","group":"9c0a4eae.6b345","order":5,"width":2,"height":5,"gtype":"wave","title":"Inhalt","label":"Kg","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":1020,"wires":[]},{"id":"4b785033.6f084","type":"exec","z":"fa3c97fe.42cf08","command":"sudo rm /media/usb/export/*","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Delete export files","x":476.25,"y":1382.5,"wires":[["d48b9649.3c3428"],[],[]]},{"id":"b97b048b.17d368","type":"inject","z":"fa3c97fe.42cf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1380,"wires":[["4b785033.6f084"]]},{"id":"d48b9649.3c3428","type":"ui_toast","z":"fa3c97fe.42cf08","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":760,"y":1380,"wires":[]}]