NodeRed Flows/Com.json
[{"id":"841b8c74.98d08","type":"tab","label":"COM","disabled":false,"info":""},{"id":"986883a3.3bc82","type":"function","z":"841b8c74.98d08","name":"Update_Variables","func":"var command = flow.get(\"command\");\nif(msg.topic == \"clock\"){\n    msg.payload = command;\n    return msg;\n}","outputs":1,"noerr":0,"x":820,"y":520,"wires":[[]]},{"id":"e69ab5c4.217ac8","type":"inject","z":"841b8c74.98d08","name":"","topic":"clock","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":"","x":120,"y":140,"wires":[["19fd36d9.c14a79"]]},{"id":"92d4dc44.73c5c","type":"link in","z":"841b8c74.98d08","name":"setPeripherie","links":["214b89da.a02106","e87be500.1ce138"],"x":165,"y":260,"wires":[["fcd00b5.cd6a7f8","2f7c38d6.ebb378"]]},{"id":"66a5bb6b.fcca94","type":"function","z":"841b8c74.98d08","name":"","func":"\nvar command = flow.get(\"command\");\nswitch(msg.topic){\n    case\"pumpMash\":\n        n=0;\n        break;\n    case\"pumpKettle\":\n        n=1;\n        break;\n    case\"heater\":\n        n=2;\n        break;\n    case\"agitator\":\n        n=3;\n        break;\n    default:\n        break;\n}\nif(msg.payload == true){\n    command |= 1<<n;\n}else if(msg.payload == false){\n    command &= ~1<<n\n}\nflow.set(\"command\",command);\n","outputs":0,"noerr":0,"x":820,"y":580,"wires":[]},{"id":"c2d3ef4b.b6fb7","type":"comment","z":"841b8c74.98d08","name":"","info":"Every [Timestep]s a command byte with the according bits for the peripherie to set is send to the Arduino.\nThe Arduino then geathers Sensor Data and returns them in a Bytestream.","x":120,"y":80,"wires":[]},{"id":"71f550ea.0a91b","type":"function","z":"841b8c74.98d08","name":"Set_Sensors","func":"var data = msg.payload.split(\":\");\n//data[1] = data[1];\nmsg.topic = data[0];\nmsg.payload = data[1];\nreturn msg;\n\n//global.set(data[0], data[1]);\n","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["bcc9cde9.a392","2f7c38d6.ebb378"]]},{"id":"2f7c38d6.ebb378","type":"function","z":"841b8c74.98d08","name":"Set_Peripherie","func":"\nglobal.set(msg.topic, msg.payload);\nreturn msg; \n/*\nswitch(msg.topic){\n    case\"pump_mash\":\n        global.set(\"heater\") = msg.payload;\n        break;\n    case\"pump_kettle\":\n        global.set(\"pump_kettle\") = msg.payload;\n        break;\n    case\"heater\":\n        global.set(\"pump_mash\") = msg.payload;\n        break;\n    case\"agitator\":\n        global.set(\"agitator\") = msg.payload;\n        break;\n    default:\n        break;\n}\n*/","outputs":0,"noerr":0,"x":670,"y":300,"wires":[]},{"id":"4bc7d475.81befc","type":"function","z":"841b8c74.98d08","name":"","func":"/*\n\nnode.log(\"Something happened\");\nnode.warn(\"Something happened you should know about\");\nnode.error(\"Oh no, something bad happened\");\n*/","outputs":1,"noerr":0,"x":640,"y":600,"wires":[[]]},{"id":"8028a9d0.6610a8","type":"change","z":"841b8c74.98d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"get:all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["6fbbc6b0.735da8"]]},{"id":"fcd00b5.cd6a7f8","type":"function","z":"841b8c74.98d08","name":"Serial_message","func":"var command = \"set:\" + msg.topic + \"=\" + msg.payload;\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["6fbbc6b0.735da8"]]},{"id":"bcc9cde9.a392","type":"debug","z":"841b8c74.98d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":360,"wires":[]},{"id":"1da9dba3.51cae4","type":"link out","z":"841b8c74.98d08","name":"DB_Insert","links":["518f9f30.95f3f"],"x":445,"y":100,"wires":[]},{"id":"cc89e2be.8da36","type":"serial in","z":"841b8c74.98d08","name":"Arduino_RX","serial":"c0cfe3fa.91f5b","x":120,"y":360,"wires":[["71f550ea.0a91b"]]},{"id":"6fbbc6b0.735da8","type":"serial out","z":"841b8c74.98d08","name":"Arduino_TX","serial":"c0cfe3fa.91f5b","x":760,"y":180,"wires":[]},{"id":"19fd36d9.c14a79","type":"switch","z":"841b8c74.98d08","name":"","property":"clkEnable","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":140,"wires":[["1da9dba3.51cae4","8028a9d0.6610a8","89c0e6cd.29d318"]]},{"id":"89c0e6cd.29d318","type":"debug","z":"841b8c74.98d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":40,"wires":[]},{"id":"53ea733a.855d5c","type":"function","z":"841b8c74.98d08","name":"","func":"var data = msg.payload.split(\":\");\nlet pay = data[1];//msg.payload;\nconst buf = Buffer.allocUnsafe(4); // (4) is ok\nbuf.writeUInt16BE(pay[0]); // high byte\nmsg.payload = buf.readFloatBE(0);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[[]]},{"id":"c0cfe3fa.91f5b","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"10000"}]