NodeRed Flows/Dashboard.json
[{"id":"51d5dc80.abcd34","type":"tab","label":"Main","disabled":false,"info":""},{"id":"214b89da.a02106","type":"link out","z":"51d5dc80.abcd34","name":"","links":["92d4dc44.73c5c"],"x":815,"y":860,"wires":[]},{"id":"54176306.40f97c","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"switch","tooltip":"","group":"c03d885e.e17a88","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"agitator","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":780,"wires":[["214b89da.a02106"]]},{"id":"ff195bdd.9a0898","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"switch","tooltip":"","group":"c03d885e.e17a88","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":820,"wires":[["214b89da.a02106"]]},{"id":"fe1ec6aa.2338c8","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"switch","tooltip":"","group":"c03d885e.e17a88","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pump_kettle","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":900,"wires":[["214b89da.a02106"]]},{"id":"68198cd2.d408a4","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"switch","tooltip":"","group":"c03d885e.e17a88","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pump_mash","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":940,"wires":[["214b89da.a02106"]]},{"id":"be2b5e48.336e2","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"Enable Clock","tooltip":"","group":"c03d885e.e17a88","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":190,"y":700,"wires":[["cedf2fa8.73798"]]},{"id":"cedf2fa8.73798","type":"change","z":"51d5dc80.abcd34","name":"Set flow.state","rules":[{"t":"set","p":"clkEnable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":700,"wires":[[]]},{"id":"4da33c6b.f538b4","type":"ui_gauge","z":"51d5dc80.abcd34","name":"","group":"829cf403.484658","order":1,"width":10,"height":5,"gtype":"gage","title":"Solltemperatur","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":160,"y":60,"wires":[]},{"id":"9b168cde.20738","type":"ui_audio","z":"51d5dc80.abcd34","name":"","voice":"","always":"","x":580,"y":660,"wires":[]},{"id":"55e2d9df.76ed88","type":"ui_gauge","z":"51d5dc80.abcd34","name":"","group":"829cf403.484658","order":2,"width":10,"height":5,"gtype":"gage","title":"Isttemperatur","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":60,"wires":[]},{"id":"cc2262c4.5c69c","type":"ui_slider","z":"51d5dc80.abcd34","name":"","label":"0 min","tooltip":"","group":"829cf403.484658","order":4,"width":"17","height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":170,"y":180,"wires":[[]]},{"id":"aaa3324.b0eecd","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"Zeitautomatik","tooltip":"","group":"fc1febad.58c578","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":860,"y":80,"wires":[[]]},{"id":"74ec1e27.d42c2","type":"ui_switch","z":"51d5dc80.abcd34","name":"","label":"Temperaturautomatik","tooltip":"","group":"fc1febad.58c578","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":860,"y":120,"wires":[[]]},{"id":"c8b22c3e.6516c","type":"ui_text_input","z":"51d5dc80.abcd34","name":"","label":"Rastzeit","tooltip":"","group":"a1f6bb79.e15608","order":1,"width":"11","height":"1","passthru":true,"mode":"number","delay":300,"topic":"soll_zeit","x":140,"y":400,"wires":[[]]},{"id":"41a5c4cd.47e5dc","type":"ui_button","z":"51d5dc80.abcd34","name":"","group":"a1f6bb79.e15608","order":3,"width":"10","height":"2","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"programm","x":140,"y":460,"wires":[[]]},{"id":"51b6823f.f7a2ac","type":"ui_button","z":"51d5dc80.abcd34","name":"","group":"a1f6bb79.e15608","order":4,"width":"10","height":"2","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"programm","x":290,"y":460,"wires":[[]]},{"id":"3b995f80.90e8","type":"ui_text_input","z":"51d5dc80.abcd34","name":"","label":"Solltemperatur","tooltip":"","group":"a1f6bb79.e15608","order":2,"width":"11","height":"1","passthru":true,"mode":"number","delay":300,"topic":"soll_temp","x":160,"y":360,"wires":[[]]},{"id":"6c5644e9.b4242c","type":"ui_chart","z":"51d5dc80.abcd34","name":"","group":"6dabebab.3dd8f4","order":2,"width":5,"height":4,"label":"Temperaturverlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":400,"wires":[[]]},{"id":"4d45178b.975e28","type":"ui_text","z":"51d5dc80.abcd34","group":"829cf403.484658","order":5,"width":"3","height":"1","name":"","label":"56 min","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":180,"wires":[]},{"id":"1a3abf40.bc4491","type":"ui_text","z":"51d5dc80.abcd34","group":"829cf403.484658","order":3,"width":0,"height":0,"name":"","label":"Zeitverlauf","format":"{{msg.payload}}","layout":"col-center","x":330,"y":120,"wires":[]},{"id":"c03d885e.e17a88","type":"ui_group","z":"","name":"Default","tab":"36b7a6b8.257d2a","order":2,"disp":true,"width":"5","collapse":false},{"id":"829cf403.484658","type":"ui_group","z":"","name":"Sensoren","tab":"d9a724f2.8cf298","order":1,"disp":true,"width":20,"collapse":false},{"id":"fc1febad.58c578","type":"ui_group","z":"","name":"Betriebsart","tab":"d9a724f2.8cf298","order":2,"disp":true,"width":6,"collapse":false},{"id":"a1f6bb79.e15608","type":"ui_group","z":"","name":"Programm","tab":"d9a724f2.8cf298","order":3,"disp":true,"width":20,"collapse":false},{"id":"6dabebab.3dd8f4","type":"ui_group","z":"","name":"Temperaturverlauf","tab":"d9a724f2.8cf298","order":4,"disp":false,"width":6,"collapse":false},{"id":"36b7a6b8.257d2a","type":"ui_tab","z":"","name":"Einstellungen","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9a724f2.8cf298","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]