NodeRed Flows/Database.json
[{"id":"77e5ec03.ca9034","type":"tab","label":"Database","disabled":false,"info":""},{"id":"6bf0f0dd.3214c","type":"sqlite","z":"77e5ec03.ca9034","mydb":"cea5dd24.65705","sqlquery":"msg.topic","sql":"","name":"","x":610,"y":160,"wires":[["663ddf88.3f3a6"]]},{"id":"3ae7b383.c9f23c","type":"inject","z":"77e5ec03.ca9034","name":"CREATE","topic":"CREATE TABLE brewings(id INTEGER PRIMARY KEY AUTOINCREMENT, currentdate DATE, currenttime TIME, temperature_amb FLOAT, temperature_kettle FLOAT, temperature_mash FLOAT, weight INT, heater BOOLEAN, agitator BOOLEAN, pump_kettle BOOLEAN, pump_mash BOOLEAN)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[["6bf0f0dd.3214c"]]},{"id":"d7952cce.3016a","type":"inject","z":"77e5ec03.ca9034","name":"INSERT","topic":"INSERT INTO brewings(currentdate, currenttime, temperature_amb, temperature_kettle, temperature_mash, weight, heater, agitator, pump_kettle, pump_mash) values(date('now'), time('now'), 33, 0, 0, 0, false, false, false, false)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["6bf0f0dd.3214c"]]},{"id":"790c4529.844d8c","type":"inject","z":"77e5ec03.ca9034","name":"SELECT","topic":"SELECT * FROM brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["6bf0f0dd.3214c"]]},{"id":"a0d1621c.efe7f","type":"inject","z":"77e5ec03.ca9034","name":"DELETE","topic":"DELETE from brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["6bf0f0dd.3214c"]]},{"id":"7e0eab50.29b2c4","type":"inject","z":"77e5ec03.ca9034","name":"DROP","topic":"DROP TABLE brewings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["6bf0f0dd.3214c"]]},{"id":"663ddf88.3f3a6","type":"debug","z":"77e5ec03.ca9034","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":160,"wires":[]},{"id":"8a180a96.222f28","type":"function","z":"77e5ec03.ca9034","name":"DB_insert","func":"var command =\"INSERT INTO brewings(currentdate, currenttime, temperature_amb, temperature_kettle, temperature_mash, weight, heater, agitator, pump_kettle, pump_mash) values(date('now'), time('now'), \";\n command += global.get(\"temp_amb\");\n command += \", \";\n command += global.get(\"temp_kettle\");\n command += \", \";\n command += global.get(\"temp_mash\");\n command += \", \";\n command += global.get(\"weight\");\n command += \", \";\n command += global.get(\"heater\");\n command += \", \";\n command += global.get(\"agitator\");\n command += \", \";\n command += global.get(\"pump_kettle\");\n command += \", \";\n command += global.get(\"pump_mash\");\n command += \")\";\n msg.topic = command;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["6bf0f0dd.3214c"]]},{"id":"8a87528d.824f","type":"delay","z":"77e5ec03.ca9034","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":380,"wires":[["8a180a96.222f28"]]},{"id":"518f9f30.95f3f","type":"link in","z":"77e5ec03.ca9034","name":"insert","links":["1da9dba3.51cae4"],"x":55,"y":380,"wires":[["8a87528d.824f"]]},{"id":"cea5dd24.65705","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"}]